@model BookTest1MVC.Models.BookInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookAuthor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookAuthor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookInventory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookInventory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookCollectionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookCollectionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookeBorrow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookeBorrow)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
